* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

body.cut {
    overflow: hidden;
    height: 100vh;
}

.hidden {
    display: none !important;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}

.wrapper {
    margin: 50px 0
}
    .films {
        display: flex;
        flex-wrap: wrap;
        margin: 30px 0;
    }
        .film {
            padding: 10px ;
            display: flex;
            flex-basis: 50%;
        }
            .film .poster {
                max-width: 300px;
                width: 30%;
            }
                img {
                    width: 100%;
                }


            .film .info {
                width: 70%;
                padding-left: 20px
            }
    
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }

    h2.film-name {
        cursor: pointer;
    }
    
    .field {
        display: flex;
        justify-content: center;
    }

    input {
        padding: 7px 16px;
        border: 2px solid #000000;
        border-radius: 2px;
        background: transparent
    }

    input[type='text'] {
        margin-right: 10px;
    }

    input[type='submit'] {
        cursor: pointer;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
    }

    input[type='submit']:hover {
        background: #000000;
        color: #ffffff
    }

    .start {
        padding: 7px 16px;
        border-radius: 2px;
        margin: 10px auto;
        display: table;
        background: rgba(0, 255, 0, 0.2);
        border: 1px solid #00ff4c
    }
    
    .wrong {
        border-radius: 2px;
        padding: 7px 16px;
        margin: 10px auto;
        display: table;
        background: rgba(200, 255, 0, 0.2);
        border: 1px solid #b3ff00
    }
    
    .error {
        border-radius: 2px;
        padding: 7px 16px;
        margin: 10px auto;
        display: table;
        background: rgba(255, 94, 0, 0.2);
        border: 1px solid #ff5e00
    }

    button {
        cursor: pointer;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        padding: 7px 16px;
        border: 2px solid #000000;
        border-radius: 2px;
        background: transparent
    }

    button:hover {
        background: #000000;
        color: #ffffff
    }

    .films .info button {
        margin-top: 15px;
    }

    .current-film__wr {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background: #ffffff
    }

    .film-title {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 15px 0;
    }

    .film-info {
        display: flex;
    }

    .film-info .poster {
        width: 25%;
    }

    .film-descr {
        width: 75%;
        padding-left: 30px
    }

    .film-descr .description {
        margin-top: 15px;
        max-width: 480px;
    }


@media (max-width: 800px) {
    .film {
        flex-basis: 100%;
    }   
}